.contact {
  background: darken($white, 3%);

  &__container {
    @include responsive-container(120rem, 2rem);
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__tagline {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__title {
    font-size: 5rem;
  }

  &__secondary-tag {
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 80rem;
    width: 100%;

    &-submit {
      @include cta-btn($dark, $dark);
      font-size: 2rem;
      text-transform: uppercase;
      background-color: $white !important;
      &:hover {
        background-color: $celadon !important;
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;

    &:last-of-type {
      flex-direction: row;
    }
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid $accent;
    border-radius: 1rem;

    &:focus {
      outline: 1px solid $dark2;
    }
  }
}
