.crumbs {
  max-width: 120rem;
  width: 100%;
  margin-inline: auto;
  text-align: left;
  padding-inline: 2rem;

  &__link {
    font-size: 1.5rem;
    color: $dark2;
    text-decoration: none;
    text-transform: capitalize;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &:not(:first-child)::before {
      content: "/";
      margin-right: 1rem;
    }
  }
}
