.cta {
  background-color: $white;

  &__container {
    @include responsive-container(120rem, 2rem);
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
  }

  &__heading {
    font-size: 5rem;

    & span {
      font-family: "Wagon", serif;
      color: $celadon;
      background-color: $dark;
      padding: 1rem;
      border-radius: 1rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }

  &__tagline {
    font-size: 1.8rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__main {
    @include cta-btn($dark, $celeste);
  }

  &__secondary {
    @include cta-btn($dark, $white);
  }
}
