.footer {
  background: $white;
  &__container {
    @include responsive-container(120rem, 2rem);
    padding-block: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__logo {
    font-size: 3rem;
    font-family: "Wagon", serif;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    &-title {
      font-size: 1.8rem;
    }

    &-content {
      font-size: 1.8rem;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-link {
      @include link(2rem, $dark2);
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    &-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-right: 15rem;
    }
  }

  &__link {
    @include link(1.8rem);
    width: max-content;
  }

  &__copy {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    & hr {
      flex: 1 0 100%;
      margin-bottom: 2rem;
    }
  }

  &__rights {
    font-size: 1.5rem;
  }

  &__legal {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &-link {
      @include link(1.5rem);
      text-decoration: underline;
      width: max-content;
    }
  }
}
