.gallery {
  background: darken($white, 3%);
  &__container {
    @include responsive-container(120rem, 2rem);
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 5rem;
  }

  &__tagline {
    text-align: center;
    font-size: 1.8rem;
  }

  &__images {
    position: relative;
    overflow: hidden;
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );

    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  &__list {
    width: max-content;
    height: 30rem;
    display: flex;
    animation: slideShow 30s linear infinite;
    gap: 2rem;
  }

  &__image {
    display: inline-block;
    width: 30rem;
    height: 30rem;
    &-img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__actions {
    &-left {
      left: 2rem;
      top: 50%;
      @include slide-btn;
    }

    &-right {
      right: 2rem;
      top: 50%;
      @include slide-btn;
    }

    &-dots {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 1rem;
    }

    &-dot {
      cursor: pointer;
      background-color: rgb(177, 177, 177);
      height: 1rem;
      width: 1rem;
      border: none;
      border-radius: 50%;
      transition: 0.2s all;
      z-index: 200;

      &[active="true"] {
        background-color: #222;
      }
    }
  }
}
