.hero {
  background-color: $white;
  overflow: hidden;
  &__container {
    @include responsive-container(120rem, 2rem);
    max-height: calc(100vh - 10rem);
    display: flex;
    gap: 5rem;
  }

  &__main {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    &__heading {
      font-size: 5rem;
      font-weight: 900;
      color: $blue;

      & span {
        color: $secondary;
        font-family: "Wagon", serif;
      }
    }

    &__tagline {
      font-size: 1.7rem;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 2rem;
    &__main {
      @include cta-btn($dark2, $dutch-white);
      cursor: pointer;
      font-weight: 500;
    }

    &__secondary {
      @include cta-btn($dark2, $celadon);
      cursor: pointer;
    }
  }

  &__gallery {
    flex: 0 1 50%;
    background-color: #fefefe;
    height: 120%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    &__block {
      overflow: hidden;

      &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 2s all;
        filter: saturate(80%);
      }

      &:hover &-img {
        transform: scale(1.05);
        filter: saturate(100%);
      }

      &-1,
      &-3,
      &-5 {
        transform: translateY(-20%);
      }
    }
  }
}
