.nav {
  background-color: $white;
  border-bottom: 1px solid $dark2;
  position: relative;
  &__container {
    @include responsive-container(120rem, 2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
  }

  &__toggle {
    display: none;
    @include cta-btn($dark, $columbia-blue);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: $columbia-blue;
  }

  &__logo {
    text-decoration: none;
    color: $blue;
    font-size: 3rem;
    font-weight: 500;
    font-family: "Wagon", serif;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    @include link(1.6rem, #222);
    padding: 1rem 3rem;

    &:hover {
      @include link(1.6rem, $blue);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__action {
      &:last-child {
        @include cta-btn($dark2, $orchid-pink);
      }
      &:first-child {
        @include cta-btn($dark2, $columbia-blue);
      }
    }
  }

  &__overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 444;
    transition: 0.2s all;
    backdrop-filter: blur(1px);
  }
}
