.products {
  &__container {
    @include responsive-container(120rem, 2rem);
    display: flex;
  }

  &__heading {
    padding: 2rem 0;
  }

  &__category {
    font-size: 2.5rem;
  }

  &__count {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  &__side {
    flex: 0 0 30%;
    padding: 2rem 0;
  }

  &__shop {
    flex: 0 0 70%;
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 1.5rem;
    width: max-content;

    &-btn {
      padding: 1rem;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: 0.2s all;
      background-color: transparent;
      color: #666;

      &:hover {
        background-color: rgb(226, 226, 226);
      }
    }
  }

  &__title {
    font-size: 2rem;
    color: #666;
    padding: 2rem 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-template-rows: repeat(auto-fill, 35rem);
    gap: 2rem;
  }

  &__item {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 1rem;
    overflow: hidden;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      box-shadow: 0 1rem 15px rgba(0, 0, 0, 0.1);
    }

    &-info {
      padding: 1rem;
      flex-grow: 1;
    }

    &-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 3rem;
      font-size: 1.5rem;
    }

    &-brand {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: capitalize;
    }

    &-price {
      font-size: 1.3rem;
    }

    &-image {
      width: 100%;
      height: 20rem;

      & img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
      }
    }

    &-buy {
      border: none;
      cursor: pointer;
      background-color: $accent;
      font-weight: 700;
      padding: 1rem;
      justify-self: end;
      transition: 0.1s all;

      &:hover {
        background-color: darken($accent, 5%);
      }

      &:active {
        background-color: darken($accent, 10%);
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__loading {
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__pages {
    padding: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__page {
    border: none;
    background-color: $accent;
    width: 5rem;
    height: 5rem;
    border: 1px solid $dark;
    border-radius: 1rem;
    font-weight: 900;
    cursor: pointer;

    &-active {
      background-color: darken($accent, 5%);
    }
  }
}
