.services {
  background: $white;

  &__container {
    @include responsive-container(120rem, 2rem);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 13rem;
    // border: 1px solid #999;
  }

  &__heading {
    font-size: 5rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    gap: 2rem;
  }

  &__call {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    // border: 1px dashed #222;

    &-top {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &-img {
      font-size: 4rem;
      text-align: center;
    }

    &-title {
      font-size: 2.3rem;
      font-weight: 700;
      text-align: center;
    }

    &-description {
      font-size: 1.8rem;
      text-align: center;
    }

    &-link {
      @include cta-btn($dark2, $celadon);
      text-decoration: none;
      text-align: center;

      font-size: 1.6rem;
    }
  }
}
