.feedback {
  background: darken($white, 3%);
  &__container {
    @include responsive-container(120rem, 2rem);
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__title {
    font-size: 5rem;
  }

  &__testimonial {
    max-width: 80rem;
    width: 100%;
    overflow: hidden;
  }

  &__list {
    width: max-content;
    height: max-content;
    transition: 0.5s transform ease-in-out;
    display: flex;
  }

  &__slide {
    display: block;
    text-align: center;
    padding-inline: 2rem;
    background-color: darken($white, 3%);
    max-width: 80rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    font-family: "Wagon";
    font-weight: 500;
    font-size: 2rem;
  }

  &__text {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__avatar {
    background-color: #aaa;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
  }

  &__job {
    font-size: 1.5rem;
    margin-top: -0.5rem;
  }

  &__actions {
    &-left {
      left: 2rem;
      top: 50%;
      @include slide-btn;
    }

    &-right {
      right: 2rem;
      top: 50%;
      @include slide-btn;
    }
  }
}

.swiper-pagination {
  margin-bottom: -2rem;
}
