.shop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__container {
    @include responsive-container(120rem, 2rem);
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 3rem;
    font-family: "Wagon", serif;
    text-decoration: none;
    color: $blue;
  }

  &__search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 1rem;
    overflow: hidden;

    &-query {
      width: 40rem;
      height: 5rem;
      padding: 2rem;
      font-size: 1.8rem;
      border: none;
      &:focus {
        outline: none;
      }
    }

    &-btn {
      cursor: pointer;
      border: none;
      height: 5rem;
      width: 7rem;
      background-color: $accent;
      transition: 0.2s all;

      &:hover {
        background-color: darken($accent, 10%);
      }
    }
  }

  &__actions {
    display: flex;
    gap: 2rem;
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.2s all;
    
    &:hover {
      background-color: #eee;
    }
    &-icon {
      font-size: 2.5rem;
      color: darken($accent, 20%);
    }

    &-label {
      color: $dark;
      font-size: 1.5rem;
    }
  }
}
