@mixin responsive-container($max-width: 1200px, $padding: 2rem) {
  margin-inline: auto;
  max-width: $max-width;
  padding-inline: $padding;

  @media screen and (min-width: $max-width) {
    width: 100%;
    padding-inline: 1rem;
  }
}

@mixin link($font-size: 1.6rem, $color: #222) {
  color: $color;
  text-decoration: none;
  font-size: $font-size;

  &:hover {
    color: lighten($color, 20%);
  }
}

@mixin cta-btn($color: $dark, $bgColor: $white, $size: 1.6rem) {
  color: $color;
  border: 3px solid darken($bgColor, 10%);
  box-shadow: 0 0.5rem 0 darken($bgColor, 10%);
  background: $bgColor;
  text-decoration: none;
  font-weight: 500;
  font-size: $size;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: 0.2s all;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.9rem 0.2rem darken($bgColor, 10%);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.8rem 1px darken($bgColor, 10%);
  }
}

@mixin slide-btn() {
  cursor: pointer;
  color: $dark;
  border: 3px solid darken($dark, 10%);
  box-shadow: 0 0.5rem 0 darken($dark, 10%);
  background: $white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 1rem;
  transition: 0.2s all;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  z-index: 50;

  position: absolute;
  transform: translateY(-50%);

  &:hover {
    box-shadow: 0 0.9rem 0.2rem darken($dark, 10%);
    color: $white;
    background-color: $secondary;
    transform: translateY(calc(-50% - 0.3rem));
  }

  &:active {
    box-shadow: 0 0.8rem 1px darken($dark, 10%);
    transform: translateY(calc(-50% - 0.2rem));
  }

  @media only screen and (max-width: 800px) {
    display: none;
  }
}
