*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $dark;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
}

// Display face
@font-face {
  font-family: "Wagon";
  src: url("../../assets/fonts/Wagon-ExtraLight.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Wagon";
  src: url("../../assets/fonts/Wagon-ExtraLightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Wagon";
  src: url("../../assets/fonts/Wagon-Bold.otf");
  font-weight: 500;
  font-style: normal;
}
