$dark: #30343f;
$dark2: #1e2749;

$white: #fafaff;
$accent: #e4d9ff;
$secondary: #9374df;
$blue: #273469;

$celadon: #b0f2b4;
$celeste: #baf2e9;
$columbia-blue: #bad7f2;
$orchid-pink: #f2bac9;
$dutch-white: #f2e2ba;

// BREAKPOINTS

$xs: 475px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
