@media only screen and (max-width: 320px) {
  /* Styles for small phones */
}
@media only screen and (max-width: 480px) {
  /* Styles for larger phones */
}
@media only screen and (max-width: 600px) {
  /* Styles for portrait tablets */
}
@media only screen and (max-width: 768px) {
  /* Styles for landscape tablets */
}
@media only screen and (max-width: 1024px) {
  .nav {
    &__toggle {
      display: block;
      z-index: 999;
    }

    &__links {
      position: absolute;
      flex-direction: column;
      gap: 5rem;
      padding: 5rem 2rem;
      border-radius: 0 0 0 1rem;
      z-index: 555;
      background-color: $white;
      top: 0;
      right: 0;
      max-width: 50rem;
      width: 100%;
      margin-left: 2rem;
      transition: 0.2s all;
      transform: translateX(100%);
    }

    &__link {
      font-weight: 700;
    }

    &__actions {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
      width: 100%;
      gap: 3rem;
    }

    &__overlay {
      display: block;
      opacity: 0;
      pointer-events: none;
    }
  }

  .hero {
    &__container {
      flex-direction: column;
      gap: 10rem;
      max-height: max-content;
    }

    &__main {
      padding: 10rem 0;
    }

    &__gallery {
      display: none;
      overflow: hidden;
      height: 20rem;
      width: 50%;
      margin-inline: auto;
    }
  }
}

@media only screen and (max-width: 1280px) {
  /* Styles for desktops */
}
@media only screen and (max-width: 1440px) {
  /* Styles for large screens */
}
