*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #30343f;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden; }

@font-face {
  font-family: "Wagon";
  src: url("../../assets/fonts/Wagon-ExtraLight.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Wagon";
  src: url("../../assets/fonts/Wagon-ExtraLightItalic.otf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Wagon";
  src: url("../../assets/fonts/Wagon-Bold.otf");
  font-weight: 500;
  font-style: normal; }

@keyframes slideShow {
  to {
    transform: translateX(calc(-50% - 2rem)); } }

.nav {
  background-color: #fafaff;
  border-bottom: 1px solid #1e2749;
  position: relative; }
  .nav__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem; }
    @media screen and (min-width: 120rem) {
      .nav__container {
        width: 100%;
        padding-inline: 1rem; } }
  .nav__toggle {
    display: none;
    color: #30343f;
    border: 3px solid #8fbeea;
    box-shadow: 0 0.5rem 0 #8fbeea;
    background: #bad7f2;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: 0.2s all;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #bad7f2; }
    .nav__toggle:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.9rem 0.2rem #8fbeea; }
    .nav__toggle:active {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.8rem 1px #8fbeea; }
  .nav__logo {
    text-decoration: none;
    color: #273469;
    font-size: 3rem;
    font-weight: 500;
    font-family: "Wagon", serif; }
  .nav__links {
    display: flex;
    align-items: center; }
  .nav__link {
    color: #222;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 3rem; }
    .nav__link:hover {
      color: #555555; }
    .nav__link:hover {
      color: #273469;
      text-decoration: none;
      font-size: 1.6rem; }
      .nav__link:hover:hover {
        color: #4359b3; }
  .nav__actions {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .nav__actions__action:last-child {
      color: #1e2749;
      border: 3px solid #ea8fa7;
      box-shadow: 0 0.5rem 0 #ea8fa7;
      background: #f2bac9;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      transition: 0.2s all;
      cursor: pointer; }
      .nav__actions__action:last-child:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.9rem 0.2rem #ea8fa7; }
      .nav__actions__action:last-child:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1px #ea8fa7; }
    .nav__actions__action:first-child {
      color: #1e2749;
      border: 3px solid #8fbeea;
      box-shadow: 0 0.5rem 0 #8fbeea;
      background: #bad7f2;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      transition: 0.2s all;
      cursor: pointer; }
      .nav__actions__action:first-child:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.9rem 0.2rem #8fbeea; }
      .nav__actions__action:first-child:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1px #8fbeea; }
  .nav__overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 444;
    transition: 0.2s all;
    backdrop-filter: blur(1px); }

.hero {
  background-color: #fafaff;
  overflow: hidden; }
  .hero__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    max-height: calc(100vh - 10rem);
    display: flex;
    gap: 5rem; }
    @media screen and (min-width: 120rem) {
      .hero__container {
        width: 100%;
        padding-inline: 1rem; } }
  .hero__main {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; }
    .hero__main__heading {
      font-size: 5rem;
      font-weight: 900;
      color: #273469; }
      .hero__main__heading span {
        color: #9374df;
        font-family: "Wagon", serif; }
    .hero__main__tagline {
      font-size: 1.7rem; }
  .hero__action {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .hero__action__main {
      color: #1e2749;
      border: 3px solid #ead08f;
      box-shadow: 0 0.5rem 0 #ead08f;
      background: #f2e2ba;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      transition: 0.2s all;
      cursor: pointer;
      cursor: pointer;
      font-weight: 500; }
      .hero__action__main:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.9rem 0.2rem #ead08f; }
      .hero__action__main:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1px #ead08f; }
    .hero__action__secondary {
      color: #1e2749;
      border: 3px solid #84eb8a;
      box-shadow: 0 0.5rem 0 #84eb8a;
      background: #b0f2b4;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      transition: 0.2s all;
      cursor: pointer;
      cursor: pointer; }
      .hero__action__secondary:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.9rem 0.2rem #84eb8a; }
      .hero__action__secondary:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1px #84eb8a; }
  .hero__gallery {
    flex: 0 1 50%;
    background-color: #fefefe;
    height: 120%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem; }
    .hero__gallery__block {
      overflow: hidden; }
      .hero__gallery__block-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 2s all;
        filter: saturate(80%); }
      .hero__gallery__block:hover .hero__gallery__block-img {
        transform: scale(1.05);
        filter: saturate(100%); }
      .hero__gallery__block-1, .hero__gallery__block-3, .hero__gallery__block-5 {
        transform: translateY(-20%); }

.services {
  background: #fafaff; }
  .services__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 13rem; }
    @media screen and (min-width: 120rem) {
      .services__container {
        width: 100%;
        padding-inline: 1rem; } }
  .services__heading {
    font-size: 5rem;
    text-align: center; }
  .services__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    gap: 2rem; }
  .services__call {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    height: 100%;
    padding: 2rem; }
    .services__call-top {
      display: flex;
      flex-direction: column;
      gap: 3rem; }
    .services__call-img {
      font-size: 4rem;
      text-align: center; }
    .services__call-title {
      font-size: 2.3rem;
      font-weight: 700;
      text-align: center; }
    .services__call-description {
      font-size: 1.8rem;
      text-align: center; }
    .services__call-link {
      color: #1e2749;
      border: 3px solid #84eb8a;
      box-shadow: 0 0.5rem 0 #84eb8a;
      background: #b0f2b4;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      transition: 0.2s all;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      font-size: 1.6rem; }
      .services__call-link:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.9rem 0.2rem #84eb8a; }
      .services__call-link:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1px #84eb8a; }

.feedback {
  background: #ebebff; }
  .feedback__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    position: relative; }
    @media screen and (min-width: 120rem) {
      .feedback__container {
        width: 100%;
        padding-inline: 1rem; } }
  .feedback__title {
    font-size: 5rem; }
  .feedback__testimonial {
    max-width: 80rem;
    width: 100%;
    overflow: hidden; }
  .feedback__list {
    width: max-content;
    height: max-content;
    transition: 0.5s transform ease-in-out;
    display: flex; }
  .feedback__slide {
    display: block;
    text-align: center;
    padding-inline: 2rem;
    background-color: #ebebff;
    max-width: 80rem; }
  .feedback__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
  .feedback__logo {
    font-family: "Wagon";
    font-weight: 500;
    font-size: 2rem; }
  .feedback__text {
    font-size: 2.5rem;
    font-weight: 700; }
  .feedback__avatar {
    background-color: #aaa;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden; }
  .feedback__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .feedback__name {
    font-size: 2rem;
    font-weight: 700; }
  .feedback__job {
    font-size: 1.5rem;
    margin-top: -0.5rem; }
  .feedback__actions-left {
    left: 2rem;
    top: 50%;
    cursor: pointer;
    color: #30343f;
    border: 3px solid #1a1c22;
    box-shadow: 0 0.5rem 0 #1a1c22;
    background: #fafaff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1rem;
    transition: 0.2s all;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 50;
    position: absolute;
    transform: translateY(-50%); }
    .feedback__actions-left:hover {
      box-shadow: 0 0.9rem 0.2rem #1a1c22;
      color: #fafaff;
      background-color: #9374df;
      transform: translateY(calc(-50% - 0.3rem)); }
    .feedback__actions-left:active {
      box-shadow: 0 0.8rem 1px #1a1c22;
      transform: translateY(calc(-50% - 0.2rem)); }
    @media only screen and (max-width: 800px) {
      .feedback__actions-left {
        display: none; } }
  .feedback__actions-right {
    right: 2rem;
    top: 50%;
    cursor: pointer;
    color: #30343f;
    border: 3px solid #1a1c22;
    box-shadow: 0 0.5rem 0 #1a1c22;
    background: #fafaff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1rem;
    transition: 0.2s all;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 50;
    position: absolute;
    transform: translateY(-50%); }
    .feedback__actions-right:hover {
      box-shadow: 0 0.9rem 0.2rem #1a1c22;
      color: #fafaff;
      background-color: #9374df;
      transform: translateY(calc(-50% - 0.3rem)); }
    .feedback__actions-right:active {
      box-shadow: 0 0.8rem 1px #1a1c22;
      transform: translateY(calc(-50% - 0.2rem)); }
    @media only screen and (max-width: 800px) {
      .feedback__actions-right {
        display: none; } }

.swiper-pagination {
  margin-bottom: -2rem; }

.contact {
  background: #ebebff; }
  .contact__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem; }
    @media screen and (min-width: 120rem) {
      .contact__container {
        width: 100%;
        padding-inline: 1rem; } }
  .contact__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
  .contact__tagline {
    font-weight: 700;
    font-size: 1.5rem; }
  .contact__title {
    font-size: 5rem; }
  .contact__secondary-tag {
    font-weight: 500;
    font-size: 1.5rem; }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 80rem;
    width: 100%; }
    .contact__form-submit {
      color: #30343f;
      border: 3px solid #1a1c22;
      box-shadow: 0 0.5rem 0 #1a1c22;
      background: #30343f;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      transition: 0.2s all;
      cursor: pointer;
      font-size: 2rem;
      text-transform: uppercase;
      background-color: #fafaff !important; }
      .contact__form-submit:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.9rem 0.2rem #1a1c22; }
      .contact__form-submit:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1px #1a1c22; }
      .contact__form-submit:hover {
        background-color: #b0f2b4 !important; }
  .contact__label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem; }
    .contact__label:last-of-type {
      flex-direction: row; }
  .contact__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid #e4d9ff;
    border-radius: 1rem; }
    .contact__input:focus {
      outline: 1px solid #1e2749; }

.cta {
  background-color: #fafaff; }
  .cta__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center; }
    @media screen and (min-width: 120rem) {
      .cta__container {
        width: 100%;
        padding-inline: 1rem; } }
  .cta__heading {
    font-size: 5rem; }
    .cta__heading span {
      font-family: "Wagon", serif;
      color: #b0f2b4;
      background-color: #30343f;
      padding: 1rem;
      border-radius: 1rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
  .cta__tagline {
    font-size: 1.8rem; }
  .cta__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .cta__main {
    color: #30343f;
    border: 3px solid #8feadb;
    box-shadow: 0 0.5rem 0 #8feadb;
    background: #baf2e9;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: 0.2s all;
    cursor: pointer; }
    .cta__main:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.9rem 0.2rem #8feadb; }
    .cta__main:active {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.8rem 1px #8feadb; }
  .cta__secondary {
    color: #30343f;
    border: 3px solid #c7c7ff;
    box-shadow: 0 0.5rem 0 #c7c7ff;
    background: #fafaff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: 0.2s all;
    cursor: pointer; }
    .cta__secondary:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.9rem 0.2rem #c7c7ff; }
    .cta__secondary:active {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.8rem 1px #c7c7ff; }

.gallery {
  background: #ebebff; }
  .gallery__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    padding-block: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative; }
    @media screen and (min-width: 120rem) {
      .gallery__container {
        width: 100%;
        padding-inline: 1rem; } }
  .gallery__title {
    text-align: center;
    font-size: 5rem; }
  .gallery__tagline {
    text-align: center;
    font-size: 1.8rem; }
  .gallery__images {
    position: relative;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); }
  .gallery__list {
    width: max-content;
    height: 30rem;
    display: flex;
    animation: slideShow 30s linear infinite;
    gap: 2rem; }
  .gallery__image {
    display: inline-block;
    width: 30rem;
    height: 30rem; }
    .gallery__image-img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover; }
  .gallery__actions-left {
    left: 2rem;
    top: 50%;
    cursor: pointer;
    color: #30343f;
    border: 3px solid #1a1c22;
    box-shadow: 0 0.5rem 0 #1a1c22;
    background: #fafaff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1rem;
    transition: 0.2s all;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 50;
    position: absolute;
    transform: translateY(-50%); }
    .gallery__actions-left:hover {
      box-shadow: 0 0.9rem 0.2rem #1a1c22;
      color: #fafaff;
      background-color: #9374df;
      transform: translateY(calc(-50% - 0.3rem)); }
    .gallery__actions-left:active {
      box-shadow: 0 0.8rem 1px #1a1c22;
      transform: translateY(calc(-50% - 0.2rem)); }
    @media only screen and (max-width: 800px) {
      .gallery__actions-left {
        display: none; } }
  .gallery__actions-right {
    right: 2rem;
    top: 50%;
    cursor: pointer;
    color: #30343f;
    border: 3px solid #1a1c22;
    box-shadow: 0 0.5rem 0 #1a1c22;
    background: #fafaff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1rem;
    transition: 0.2s all;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 50;
    position: absolute;
    transform: translateY(-50%); }
    .gallery__actions-right:hover {
      box-shadow: 0 0.9rem 0.2rem #1a1c22;
      color: #fafaff;
      background-color: #9374df;
      transform: translateY(calc(-50% - 0.3rem)); }
    .gallery__actions-right:active {
      box-shadow: 0 0.8rem 1px #1a1c22;
      transform: translateY(calc(-50% - 0.2rem)); }
    @media only screen and (max-width: 800px) {
      .gallery__actions-right {
        display: none; } }
  .gallery__actions-dots {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem; }
  .gallery__actions-dot {
    cursor: pointer;
    background-color: #b1b1b1;
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    transition: 0.2s all;
    z-index: 200; }
    .gallery__actions-dot[active="true"] {
      background-color: #222; }

.footer {
  background: #fafaff; }
  .footer__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    padding-block: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem; }
    @media screen and (min-width: 120rem) {
      .footer__container {
        width: 100%;
        padding-inline: 1rem; } }
  .footer__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .footer__logo {
    font-size: 3rem;
    font-family: "Wagon", serif; }
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; }
    .footer__info-title {
      font-size: 1.8rem; }
    .footer__info-content {
      font-size: 1.8rem; }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .footer__socials-link {
      color: #1e2749;
      text-decoration: none;
      font-size: 2rem; }
      .footer__socials-link:hover {
        color: #3c4e91; }
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem; }
    .footer__links-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-right: 15rem; }
  .footer__link {
    color: #222;
    text-decoration: none;
    font-size: 1.8rem;
    width: max-content; }
    .footer__link:hover {
      color: #555555; }
  .footer__copy {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; }
    .footer__copy hr {
      flex: 1 0 100%;
      margin-bottom: 2rem; }
  .footer__rights {
    font-size: 1.5rem; }
  .footer__legal {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; }
    .footer__legal-link {
      color: #222;
      text-decoration: none;
      font-size: 1.5rem;
      text-decoration: underline;
      width: max-content; }
      .footer__legal-link:hover {
        color: #555555; }

.crumbs {
  max-width: 120rem;
  width: 100%;
  margin-inline: auto;
  text-align: left;
  padding-inline: 2rem; }
  .crumbs__link {
    font-size: 1.5rem;
    color: #1e2749;
    text-decoration: none;
    text-transform: capitalize; }
    .crumbs__link:not(:first-child) {
      margin-left: 1rem; }
    .crumbs__link:not(:first-child)::before {
      content: "/";
      margin-right: 1rem; }

.products__container {
  margin-inline: auto;
  max-width: 120rem;
  padding-inline: 2rem;
  display: flex; }
  @media screen and (min-width: 120rem) {
    .products__container {
      width: 100%;
      padding-inline: 1rem; } }

.products__heading {
  padding: 2rem 0; }

.products__category {
  font-size: 2.5rem; }

.products__count {
  margin-top: 0.5rem;
  font-size: 1.5rem; }

.products__side {
  flex: 0 0 30%;
  padding: 2rem 0; }

.products__shop {
  flex: 0 0 70%;
  width: 100%; }

.products__list {
  list-style: none;
  display: flex;
  flex-direction: column; }

.products__link {
  font-size: 1.5rem;
  width: max-content; }
  .products__link-btn {
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s all;
    background-color: transparent;
    color: #666; }
    .products__link-btn:hover {
      background-color: #e2e2e2; }

.products__title {
  font-size: 2rem;
  color: #666;
  padding: 2rem 0; }

.products__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: repeat(auto-fill, 35rem);
  gap: 2rem; }

.products__item {
  width: 100%;
  height: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s all; }
  .products__item:hover {
    box-shadow: 0 1rem 15px rgba(0, 0, 0, 0.1); }
  .products__item-info {
    padding: 1rem;
    flex-grow: 1; }
  .products__item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
    font-size: 1.5rem; }
  .products__item-brand {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize; }
  .products__item-price {
    font-size: 1.3rem; }
  .products__item-image {
    width: 100%;
    height: 20rem; }
    .products__item-image img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain; }
  .products__item-buy {
    border: none;
    cursor: pointer;
    background-color: #e4d9ff;
    font-weight: 700;
    padding: 1rem;
    justify-self: end;
    transition: 0.1s all; }
    .products__item-buy:hover {
      background-color: #d2c0ff; }
    .products__item-buy:active {
      background-color: #c0a6ff; }

.products__wrapper {
  position: relative; }

.products__loading {
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }

.products__pages {
  padding: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem; }

.products__page {
  border: none;
  background-color: #e4d9ff;
  width: 5rem;
  height: 5rem;
  border: 1px solid #30343f;
  border-radius: 1rem;
  font-weight: 900;
  cursor: pointer; }
  .products__page-active {
    background-color: #d2c0ff; }

.shop {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .shop__container {
    margin-inline: auto;
    max-width: 120rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 120rem) {
      .shop__container {
        width: 100%;
        padding-inline: 1rem; } }
  .shop__logo {
    font-size: 3rem;
    font-family: "Wagon", serif;
    text-decoration: none;
    color: #273469; }
  .shop__search {
    display: flex;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 1rem;
    overflow: hidden; }
    .shop__search-query {
      width: 40rem;
      height: 5rem;
      padding: 2rem;
      font-size: 1.8rem;
      border: none; }
      .shop__search-query:focus {
        outline: none; }
    .shop__search-btn {
      cursor: pointer;
      border: none;
      height: 5rem;
      width: 7rem;
      background-color: #e4d9ff;
      transition: 0.2s all; }
      .shop__search-btn:hover {
        background-color: #c0a6ff; }
  .shop__actions {
    display: flex;
    gap: 2rem; }
  .shop__action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.2s all; }
    .shop__action:hover {
      background-color: #eee; }
    .shop__action-icon {
      font-size: 2.5rem;
      color: #9c73ff; }
    .shop__action-label {
      color: #30343f;
      font-size: 1.5rem; }

@media only screen and (max-width: 320px) {
  /* Styles for small phones */ }

@media only screen and (max-width: 480px) {
  /* Styles for larger phones */ }

@media only screen and (max-width: 600px) {
  /* Styles for portrait tablets */ }

@media only screen and (max-width: 768px) {
  /* Styles for landscape tablets */ }

@media only screen and (max-width: 1024px) {
  .nav__toggle {
    display: block;
    z-index: 999; }
  .nav__links {
    position: absolute;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 2rem;
    border-radius: 0 0 0 1rem;
    z-index: 555;
    background-color: #fafaff;
    top: 0;
    right: 0;
    max-width: 50rem;
    width: 100%;
    margin-left: 2rem;
    transition: 0.2s all;
    transform: translateX(100%); }
  .nav__link {
    font-weight: 700; }
  .nav__actions {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 100%;
    gap: 3rem; }
  .nav__overlay {
    display: block;
    opacity: 0;
    pointer-events: none; }
  .hero__container {
    flex-direction: column;
    gap: 10rem;
    max-height: max-content; }
  .hero__main {
    padding: 10rem 0; }
  .hero__gallery {
    display: none;
    overflow: hidden;
    height: 20rem;
    width: 50%;
    margin-inline: auto; } }

@media only screen and (max-width: 1280px) {
  /* Styles for desktops */ }

@media only screen and (max-width: 1440px) {
  /* Styles for large screens */ }
